extends layout

block content
 if oauthSession
  #sessionHolder
 else
  #twitter-signup.modal
   .modal-background
   .modal-content
     .box
        .media-content
          .content
            p You must be signed in with Twitter to do that
            include partials/twitterLoginButton
   button.modal-close
  #error.modal
   .modal-background
   .modal-content
     article.message.is-danger
       .message-header
         p Heavy Load
       .message-body
         | We are under heavy load right now and are working to fix it. Please try again soon!
         | In the meantime keep up with the latest group tweets on our  
         a(href='https://twitter.com/?lang=en') twitter
   button.modal-close

 .tile.is-ancestor
   .tile.is-parent
    .tweets
      .column
       .content
        h1 Tweet Stronger Together
        p Donald Trump has used the power of Twitter to reach his supporters throughout his campaign. Now it is time to turn it against him. Tweeting alone may not get your message noticed but the power of a group will.
        ol
         li Sign Up with a Twitter account
         li Choose one or more tweets to participate in
         li Keep up with the hashtags to see others that are participating
        .content.is-small
         p *Chosen tweets will be sent out every day en masse at the time shown with the tweet
      .columns.is-multiline
        - each tweet, index in tweets
         include partials/tweet
        include partials/suggestForm.jade

   .tile.is-parent
    a.twitter-timeline(href='https://twitter.com/hashtag/ListenUpTrump', data-widget-id='823261418866688000') #ListenUpTrump Tweets
     script.
       !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


 script(src='/js/index.js')