doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bulma.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1')
    title Listen Up Trump
    meta(name='description', content='Tweeting Stronger Together')
    link(rel='apple-touch-icon', href='/img/logo.png')
    link(rel='mask-icon', href='/img/logo.png', color='#349bb9')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@listenuptrump')
    meta(property='og:type', content='website')
    meta(property='og:site_name', content='Wee')
    meta(property='og:title', content='Listen Up Trump', itemprop='name')
    meta(property='og:description', content='Tweeting Stronger Together', itemprop='description')
    meta(property='og:url', content='https://www.listenuptrump.co', itemprop='url')
    meta(property='og:image', content='https://www.listenuptrump.co/img/logo.png', itemprop='image')
  body
    .container
      .nav
        .nav-left
          img.image.logo(src= '/img/logo.png')
        .nav-right.nav-menu
          if oauthSession
            a.nav-item.logout(href='/logout') Logout
          else
            include partials/twitterLoginButton
      block content
