doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bulma.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  body
    .container
      .nav
        .nav-left
          img.image.logo(src= '/img/logo.png')
        .nav-right.nav-menu
          if oauthSession
            a.nav-item.logout(href='/logout') Logout
          else
            include partials/twitterLoginButton
      block content
