body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

iframe {
    display: block !important;
    margin: 0 auto !important;
}

.twitter-signin-container {
    text-align: center;
}

.tweets-container {
    width: 520px;
}

.tweet {
    border: 1px solid #E1E8ED;
    display: block !important;
    margin: 0 auto !important;
    width: 200px;
}

.logo {
  display: block;
  margin: 0 auto 30px auto;
  width: 128px;
}