body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

iframe {
    display: block !important;
    margin: 0 auto !important;
}

.twitter-signin-container {
    text-align: center;
}

.tweets-container {
    width: 520px;
}

.twitter-timeline {
    padding-left: 20px !important;
}

.tweets {
  padding-right: 20px;
  padding-top: 20px;
  max-width: 520px;
}

.tweet {
  padding: 20px;
  border-top: 1px solid #E1E8ED;
  border-left: 1px solid #E1E8ED;
  border-right: 1px solid #E1E8ED;
}

.tweet-footer {
  border-left: 1px solid #E1E8ED;
  border-right: 1px solid #E1E8ED;
  border-bottom: 1px solid #E1E8ED;
}

.tweet-leave {
  color: white;
  background-color: #F04168;
}

.tweet-join {

}

.logo {
  width: 128px;
  height: 90px;
}

.explanation {
  padding-right: 200px;
}

.logout, .login {
  align-items: initial;
}

.suggest-button {
  margin-top: 10px;
}

 #twitter-signup {

 }